@model News.Models.IdeaModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Contact</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Upload Idea</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<!-- Start contact  -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>Create Idea</h2>

                    </div>
                    <!-- end title -->
                    <!-- start contact content -->
                    <div class="mu-contact-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <form asp-controller="CreateIdea" asp-action="Create" method="post" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label for="titleForm"> Title</label>
                                            <input type="text" class="form-control" placeholder="Title" name="idea_Title" id="titleForm" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="contentForm"  class="control-label"> Content</label>
                                            <textarea id="contentForm" name="idea_Description" rows="20" cols="100" placeholder="Content" class="form-control" minlength="50" required>  </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label  class="control-label"> Image (550x500)</label>
                                            <input type="file" name="idea_ImagePath" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="idea_CategoryId" class="control-label"></label>
                                            <select asp-for="idea_CategoryId" class="form-control" asp-items="ViewBag.idea_CategoryId"></select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" value="@ViewBag.idea_submission_Name" class="form-control" readonly />
                                            
                                        </div>
                                        <div class="form-group" hidden>
                                            <input type="text" value="@ViewBag.idea_submission_Id" class="form-control" name="idea_SubmissionId"  />
                                            </div>
                                        <div>
                                            <input type="checkbox" id="policyForm" asp-for="idea_Agree" required>
                                            <label for="policyForm"> Agree terms of use</label><br>
                                        </div>
                                        <div>
                                            <input type="submit" value="submit" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end contact content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End contact  -->

@*<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
</script>*@