@model News.Entities.Idea

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Idea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="idea_Id" class="control-label"></label>
                <input asp-for="idea_Id" class="form-control" />
                <span asp-validation-for="idea_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idea_Title" class="control-label"></label>
                <input asp-for="idea_Title" class="form-control" />
                <span asp-validation-for="idea_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idea_Description" class="control-label"></label>
                <input asp-for="idea_Description" class="form-control" />
                <span asp-validation-for="idea_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idea_UpdateTime" class="control-label"></label>
                <input asp-for="idea_UpdateTime" class="form-control" />
                <span asp-validation-for="idea_UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idea_CategoryId" class="control-label"></label>
                <select asp-for="idea_CategoryId" class ="form-control" asp-items="ViewBag.idea_CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="idea_SubmissionId" class="control-label"></label>
                <select asp-for="idea_SubmissionId" class ="form-control" asp-items="ViewBag.idea_SubmissionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="idea_UserId" class="control-label"></label>
                <select asp-for="idea_UserId" class ="form-control" asp-items="ViewBag.idea_UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
